@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

:root {
    --Blanche: #ffff;
    --Noir: #222;
    --Primaire: #007bc4;
    --Gris: #888;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    color: var(--Noir);
    background-color: var(--Blanche);
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

.promo {
    background-color: var(--Primaire);
    text-align: center;
    color: var(--Blanche);
    padding: 1rem 0;
}

.container {
    max-width: 114rem;
    margin: 0 auto;

}

@media only screen and (max-width: 998px) {
    .container {
        padding: 0 3rem;
    }
}

.navigation {
    height: 7rem;
    justify-content: space-between;
}

.d-flex {
    display: flex;
    align-items: center;
}

.icon1 {
    display: none;
}

.menu .top{
    display: none;
}

.logo {
    font-weight: 700;
    font-size: 2rem;
    padding: 0rem 1.5rem;
}

.logo span {
    font-size: 3rem;
    color: var(--Primaire);
}

.nav-item:not(:last-child) {
    margin: 0.5rem;
}

.nav-item:first-child .nav-link {
    color: var(--Primaire);
}

.nav-link {
    padding: 0 1rem;
    /*transition: all 300ms ease-in-out;*/
}

.nav-link:hover {
   /* background-color: pink;*/
    color: var(--Primaire);
}

.nav .icons div {
    font-size: 2rem;
    padding: 0.5rem;
    cursor: pointer;
/*    transition: all 300ms ease-in-out;*/
}

.nav .icons div:not(:last-child) {
    margin-right: 0.5rem;
}

.nav .icons div:hover {
    color: var(--Primaire);
}

.nav .icons div:last-child {
    position: relative;
}

.nav .icons div span {
    position: absolute;
    top: -0.5rem;
    right: -1.2rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--Blanche);
    background-color: var(--Primaire);
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
}

.align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 998px) {
    .navigation{
        padding: 5rem 0;
    }

    .menu{
        position: fixed;
        top: 0;
        /*left: 0;*/
        left: -100%;
        background-color: var(--Blanche);
        height: 100%;
        width: 90%;
        max-width: 45rem;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
        transition: all 450ms ease-in-out;
        z-index: 100;
    }

    .icon1 {
        display: block;
        font-size: 8rem;
        cursor: pointer;

    }

    .icons {
        display: none;
    }

    .logo span {
        color: var(--Primaire);
    }

    .logo {
        font-size: 1.6rem;
        font-weight: 400;
    }

    .menu .top {
        display: block;
        position: relative;
        background-color: var(--Primaire);
        width: 100%;
        height: 6rem;
        color: var(--Blanche);
    }

    .top span {
        display: flex;
        align-items: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 1rem;
        font-size: 4rem;
        cursor: pointer;
    }

    .top span i {
        font-size: 3rem;
    }

    .nav_list {
        flex-direction: column;
        align-items: start;
        padding: 2rem 0;
    }

    .nav-item {
        font-size: 5rem;
        margin: 0 0 5rem 0;
    }

    .nav-link {
        padding: 3rem;
    }

    .menu.monter {
        left: 0;
    }

}



.banniere {
   /* height: calc(100vh - 7rem);*/
    height: 90vh;
    background-color: beige;
    overflow: hidden;
   /* position: relative;*/
    z-index: 0;
    background-image: url("./images/tet.png");
}

.banniere-contenu {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

.banniere-contenu .gauche {
    margin-top: 5rem;
    margin-bottom: 5rem;
    color: white;
    line-height: 1.3;
    font-weight: 600;
    text-align: center;
    font-size: 2rem;
}

/*.banniere-contenu .gauche .sous-titre {
    display: inline-block;
    font-size: 1.4rem;
    margin-bottom: 1.6rem;
}*/

/*.banniere-contenu .gauche .titre {
    display: inline-block;

}*/

/*.banniere-contenu .gauche .couleur {
    color: var(--Primaire);
}*/

/*.banniere-contenu .gauche h5 {
    font-weight: 400;
    margin-top: 2rem;
}*/

/*
.btn {
    display: inline-block;
    border-radius: 5rem;
    background-color: var(--Primaire);
    padding: 1.3rem 5rem;
    color: var(--Blanche);
    font-weight: 600;
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.3);
    margin-top: 4rem;
}
*/


@media only screen and (max-width: 998px) {

    .banniere {
        height: 75rem;
    }

/*    .banniere-contenu .droit img{
        width: 100%;
    }*/

    /*.banniere-contenu .gauche {
        margin-top: -20rem;
    }*/


/*    .banniere-contenu {
        height: 50%;
    }*/

    /*  .btn {
      padding: 1.2rem 4rem;
  }*/
}

.produits {
    margin-bottom: 20rem;
}

.section {
    padding: 10rem 0 0 0;
}

.services {
    margin: 15rem 0 20rem 0;
}

.service {
    /*border: 1px solid #ccc;*/
    border: 1px solid #ccc;
    padding: 1rem 1rem 2rem 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.service-center {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 5rem;
}

.service .icon {
    background-color: var(--Primaire);
    height: 80px;
    width: 80px;
    position: relative;
    border-radius: 50%;
}

.service .icon i {
    position: absolute;
    font-size: 4rem;
    top: 50%;
    left: 50%;
    color: var(--Blanche);
    transform: translate(-50%, -50%);
}

.service h4 {
    margin-bottom: 0.3rem;
}

.service .text {
    font-size: 1.5rem;
    color: #777;
}

@media only screen and (max-width: 998px) {

    .service .text {
        font-size: 2.5rem;
    }

    .service-center {
        display: grid;
        grid-template-columns: 1fr;
        gap: 5rem;
    }
}


.titre {
    background-color: beige;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 5rem;
    font-weight: 600;
}

.titre h1 {
    font-weight: 400;
}

.titre span {
    color: var(--Primaire);
}

.centre-produit {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 5rem;
    margin-bottom: 5rem;
}

.produit {
    text-align: center;
    padding: 1rem;
    transition: all 500ms ease-in-out;
    cursor: pointer;
}

.produit:hover {
    box-shadow: 0 5px rgba(0, 0, 0, 0.1);
}

.produit img {
    transition: all 500ms ease-in-out;
}

.produit:hover img {
    transform: scale(1.2);
}

.produit .img-cover {
    overflow: hidden;
}

.produit .rating {
    color: var(--Primaire);
}

.produit .rating i:last-child {
    color: var(--Noir);
}

@media only screen and (max-width: 998px) {

    .titre {
        font-size: 2rem;
    }

    .centre-produit {
        grid-template-columns: repeat(2, 1fr);
    }

    .produit p {
        font-size: 2.5rem;
    }
}

.footer {
    background-color: var(--Noir);
    padding: 6rem 1rem 0;
    line-height: 3rem;
    margin-top: 5rem;
}

.footer span {
    margin-right: 1rem;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: var(--Blanche)
}

.footer-center a:link,
.footer-center a:visited {
    display: block;
    color: var(--Gris);
    font-size: 1.4rem;
    /*transition: 0.6s;*/
}

.footer-center a:hover {
    color: var(--Primaire);
}

.footer-center div {
    font-size: 1.4rem;
    color: var(--Gris);
}

.footer-center h3 {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.copyright {
    color: var(--Gris);
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    padding: 4rem 0 0 0;

}

.copyright a:hover {
    color: var(--Primaire)
}

@media only screen and (max-width: 998px) {

    .footer-container {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2rem;
    }
}

@media only screen and (max-width: 768px) {

    .footer-container {
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }
}











